#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

main {
  height: 99vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-area {
  width: 100%;
  height: 12.5%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
}

.format-area, .header-area, .misc-area {
  width: 33%;
}

.format-area {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.format-selector {
  display: flex;
  width:fit-content;
  background-color: rgba(255, 255, 255, 0.799);
  border-radius: 4px;
  margin: 0.1em;
  padding: 0.1em;
}

.format-selector:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}

.deck-selector {
  display: flex;
  width:fit-content;
  /* background-color: rgba(192, 218, 249, 0.966); */
  /* border-radius: 4px; */
  margin: 0.1em;
  padding: 0.1em;
}

.deck-selector:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}

.deck-header {
  height: 2.5em;
  background-color:#312d9c74;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  display: grid;
  grid-template-columns: 50% 50%;
}

.deck-counter {
  display: flex;
  align-items: center;
}

.name-box {
  width: 8em;
}

.type-counter {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 5%;
}

.main-app {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0.25rem;
}

.trunk-area, .deck-area, .card-area {
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 0.05rem;
}

.card-area {
  margin-right: 0.25rem;
}

.deck-area {
  flex: 0 0 55%;
  margin-right: 0.25rem;
}

.trunk-area, .card-area {
  flex: 0 0 22.25%;
}

.trunk-area {
}

.trunk-filter {
  flex: 0 0 15%;
}

.trunk-nav {
  flex: 0 0 5%;
}

.main-deck {
  height: 70%;
  /* border-radius: 8px; */
  border:1px grey solid;
}

.extra-deck, .side-deck {
  flex: 0 0 15%;
  border: 1px grey solid;
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
}

.trunk-listing {
  flex: 1;
  min-height: 0; 
  overflow-y: auto; 
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(6, 1fr);     /* 6 rows */
  gap: 0.3rem;
  padding: 0.25rem;
  height: 100%; /* make sure it takes full height of its parent */
  box-sizing: border-box;
}

.card-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0.1rem;
  overflow: hidden;
}

.card-entry:hover {
  border-radius: 4px;
  border: 2px solid #61dafbaa;
  filter: drop-shadow(0 0 0.25em #61dafbaa);
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* .card-name {
  font-size: 0.75rem;
  margin-top: 0.2rem;
  text-align: center;
  word-break: break-word;
} */